/* Page 2 */
/*--------------------------------------------------------------
# Filter search Section
--------------------------------------------------------------*/
.bg-section {
  padding: 4rem 1rem;
  border-radius: 10px;
  color: #ffffff;
  background: rgba(65, 65, 65, 0.6);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}

.info {
  margin-top: 4rem;
}

.info .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.section-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.section-header h2 {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(29, 29, 29);
}

@media (max-width: 768px) {
  .section-header h2 {
    font-size: 1.5rem;
  }
}

.about .card-item .card-bg {
  background-image: url('../../img/about/about-team.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
}

.about .card-item .card-body {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: rgba(24, 24, 24, 0.479);
  padding: 2rem;
  text-align: start;
}

.about .card-item .card-body {
  color: white;
}

@media (min-width: 768px) {
  .about .card-item .card-bg {
    height: 500px;
  }
  .about .card-item .card-body {
    height: auto;
    margin-left: -3rem;
    padding-left: 3rem;
  }
}

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact {
  background-image: url('../../img/hero-carousel/hero-carousel-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
}

.contact .container {
  width: 100%;
  background: rgba(24, 24, 24, 0.596);
  padding: 2rem;
}
.contact .container p {
  color: white;
  font-size: 1.3rem;
}

.contact .container .section-header h2 {
  color: white;
  padding-bottom: 2rem;
}

@media (min-width: 1024px) {
  .contact .container {
    width: 40%;
    padding: 3rem 5rem;
  }
}

/* Form */
.contact .container form .form-group {
  margin-bottom: 1rem;
}

.contact .container form .form-group input,
.contact .container form .form-group textarea {
  width: 100%;
  padding: 1rem;
  border: 2px solid white;
  border-radius: 5px;
  background-color: transparent;
  color: white;
}

.contact .container form .form-group input::-webkit-input-placeholder,
.contact .container form .form-group textarea::-webkit-input-placeholder {
  color: white;
}

/*--------------------------------------------------------------
# Footer Section
--------------------------------------------------------------*/
.footer {
  background: #1d1d1d;
  padding: 2rem 0;
  margin-top: 4rem;
}

.footer .container .row {
  height: auto;
}

footer .container .row .footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: none;
  width: 100%;
}

footer .container .footer-logo a {
  font-size: 5rem;
  font-weight: 800;
  color: rgb(68, 68, 68) !important;
  cursor: pointer;
}

footer .container .footer-copyrigth {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  color: rgb(68, 68, 68) !important;
}

@media (min-width: 768px) {
  footer .container .row .footer-logo {
    border-right: none;
    border-right: 1px solid #444444;
    padding-right: 2rem;
    display: flex;
    justify-content: center;
  }

  footer .container .footer-copyrigth {
    justify-content: start;
  }
}

footer .container .footer-navigation {
  width: 100%;
  padding: 0.5rem 0;
}

footer .container .footer-nav-links ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  margin: 0 !important;
  padding: 0 !important;
}

@media (min-width: 768px) {
  footer .container .footer-navigation {
    display: flex;
    justify-content: center;
  }

  footer .container .footer-nav-links ul {
    display: flex;
  }

  footer .container .footer-nav-links ul li {
    margin: 1rem 1rem;
  }
}

footer .container .footer-nav-links ul li {
  list-style: none;
}

.footer-nav-links ul li button {
  border-radius: 50px;
  background-color: rgb(68, 68, 68);
}

.footer-nav-links ul li a {
  color: white !important;
  text-decoration: none;
}

.footer-nav-address {
  padding: 1rem;
}

@media (min-width: 768px) {
  .footer-nav-address {
    padding: 0.2rem 0rem;
  }
}

.footer-nav-address ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  color: rgb(68, 68, 68);
  padding: 0.5rem;
}

.footer-nav-address ul li i {
  padding: 0.5rem;
}
